{% extends 'Admin/Base.twig' %}

{% block content %}
    <div class="aw-content-wrap">
        <form method="post" id="category_form" action="{{ 'admin/category/save'|generateUrl }}">
            <input type="hidden" value="{{ current_data.category_id }}" name="category_id">
            <div class="mod">
                <div class="mod-head">
                    <h3>
                        <span class="pull-left">分类编辑</span>
                    </h3>
                </div>
                <div class="tab-content mod-content">
                    <table class="table table-striped">
                        <tbody>
                        <tr>
                            <td>
                                <div class="form-group">
                                    <span class="col-sm-4 col-xs-3 control-label">分类标题:</span>
                                    <div class="col-sm-5 col-xs-8">
                                        <input type="text" value="{{ current_data.category_title }}" name="title" class="form-control">
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group">
                                    <span class="col-sm-4 col-xs-3 control-label">排序:</span>
                                    <div class="col-sm-5 col-xs-8">
                                        <input type="text" value="{{ current_data.sort }}" name="sort" class="form-control">
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group">
                                    <span class="col-sm-4 col-xs-3 control-label">父级分类:</span>
                                    <div class="col-sm-5 col-xs-8">

                                        <select class="form-control" name="parent_id">
                                            <option value="0">无</option>
                                            {% for row in data %}
                                                <option value="{{ row.category_id }}"
                                                        {% if row.category_id == current_data.parent_id %}
                                                            {{ 'selected="selected"' }}
                                                        {% endif %}
                                                        >
                                                    {{ row.category_title | raw }}
                                                </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </td>
                        </tr>

                        </tbody><tfoot>
                        <tr>
                            <td>
                                <input type="submit" class="btn btn-primary center-block" value="保存设置">
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </form>
    </div>
{% endblock %}